@import 'mixin';

.container, .container-fluid {
	margin: 0 auto;
	padding: 0;
	@include clearfix;
}

.container {	
	@media screen and (min-width:480px) and (max-width: 768px){
		width: 480px;
	}
	
	@media screen and (min-width:768px) and (max-width: 992px){
		width: 768px;
	}
	
	@media screen and (min-width:992px) and (max-width: 1200px){
		width: 992px;
	}
	
	@media screen and (min-width:1200px) {
		width: 1200px;
	}
}

