@import 'mixin';

.navbar {
	min-height:50px;
	@include clearfix;
	border-radius:3px;
	border-style: solid;
	border-width: 1px;
	
	@media screen and (max-width:480px) {
		border-radius:3px 3px 0 0;
	}
	
}

.navbar-default {
	background-color: #5F5F5F;
	color: #F7FFFF;
	border-color: #707070;
	font-weight: bold;
	ul {
		li {
			a {
				font-weight: normal;
				color: #F7FFFF;
			}
		}
	}
}

.navbar-header{
	float: left;
	margin-right:60px;
	margin-top:11px;
	@include clearfix;
	@media screen and(min-width:480px) and (max-width: 768px){
		margin-right:18px;
		margin-top:15px;
	}
	
	@media screen and (max-width:480px) {
		width: 100%;
	}
}

.navbar-brand {
	font-size: 24px;
	@include clearfix;
	
	@media screen and(min-width:480px) and (max-width: 768px){
		font-size: 20px;
	}
	
	@media screen and (max-width:480px) {
		margin-left:10px;
		float:left;
	}
}

.navbar-icon {
	@media screen and (min-width:480px) {
		display: none;
	}
	@media screen and (max-width:480px) {
		float:right;
		margin-right: 10px;
	}
}

.navbar-body {
	ul {
		li {
				
			font-size:21px;
			padding:0 4px;
			height:36px;
			line-height: 36px;
			margin-top:7px;
			display: inline-block;
			text-align: center;
			@media screen and (min-width:480px) and (max-width: 768px){
				font-size:18px;
			}

			@media screen and (max-width:480px) {
				display:none;
			}
						
			a {
				text-decoration:none;
			}
		}
	}
}

.navbar-left {
	float:left;
}

.navbar-right {
	float:right;
}

.icon-bar {
display: block;
width: 22px;
height: 2px;
border-radius: 1px;
margin: 2px 0;

}

.icon-bar-default {
	background-color: #888;
}

.navbar-button {
	height:25px;
	margin-top:1px;
}

.navbar-collapsed {
	@media screen and (min-width:480px) {
		display: none !important;
	}
	
	ul {
		li {
			height:30px;
			line-height: 30px;
			border-radius: 1px;
			border-bottom: 1px solid;
			list-style-type: none;
			padding-left:10px;
			a {
				text-decoration:none;
			}
		}
	}
}